# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app

#Log files
*.log
*log.txt

#SubProcess
#AprimeAlAlpha1/SubProcesses/*
*.html
AprimeAlAlpha1/status


#Eclipse
.settings

#MadGraph events
*.lhe.gz
*.lhe
*.gz
